body{
    background: rgba(173, 206, 238, 0.46);
    overflow:hidden;
}



button {
    padding: 1.2% 2.5%;
    border: 0;
    border-radius: 100px;
    background: rgb(72 129 230 / 46%);
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  button:hover {
    background: rgb(72 129 230 / 46%);
    box-shadow: 0 0 20px #6fc5ff50;
    
   
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 12%);
    opacity: 0.6;
  }
  
  button:active {
    background: rgb(72 129 230 / 46%);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
  }

.username{
    font-size: 40px;
    position: absolute;
    left: 95px;
    bottom: 620px;
}

.cinteiner{
    position: absolute;
    background-color: aliceblue;
    width: 400px;
    height: 10000px;
    top: 1px;
    left: 70px;
    opacity: 1;
}

.date_of_birth{
    position: relative;
    margin-left: 90px;
    bottom: -380px;
    font-size: 25px;
}   

.avt.active {
  z-index: 2;
}

.photo-upload-box {
    border: 2px dashed #ccc;
    width: 300px;
    height: 300px;
    top: -40px;
    position: relative;
    text-align: center;
    left: 90px;
    z-index: 99;

  }
  

  /* Скрытие стандартного внешнего вида элемента input[type="file"] */
  input[type="file"] {
    display: none;
  }




  
.custom-file-input {
    
    color: transparent;
    font-size: 30px;
    background: none;
    position: absolute;
    width: 165px;
    height: 35px;
    color: rgba(173, 206, 238, 0.46);
    left:80%;
    top: 7%;
    padding: 1.2% 2.5%;
    border: 0;
    border-radius: 100px;
    background: rgb(72 129 230 / 46%);
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-indent: 10px;
    line-height: 0.2;
  }
  
  
  
  
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Your file';
    color: rgb(255, 255, 255);
    display: inline-block;
    
    font-size: 30px;
    background: hidden   ;
  
  }
  
  
  .custom-file-input:hover {
    background: rgb(72 129 230 / 46%);
    box-shadow: 0 0 20px #6fc5ff50;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 12%);
    opacity: 0.6;
  }
  
  .custom-file-input:active {
    background: rgb(72 129 230 / 46%);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
  }
 
  


  .avat {
    margin-top: -25px;
    width: 304px;
    height: 304px;
    margin-left: -2px;
    z-index: 100;
    
  }
  
  
.avt {
  background-color: black;
  z-index: 99;
  position: absolute;
  width: 304px;
  height: 304px;
  left: 5.3%;
  top: 3.8%;
  opacity: 0;
  z-index: 101;
}
  
.avt:hover{
  opacity: 0.5;

}



.upload-label {
  font-size: 16px;
  font-weight: bold;
  color: #999;
  cursor: pointer;
  opacity: 1;
  z-index: 99999;
  font-size: 20px;
  color: rgb(61, 120, 138);
}
